* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/BebasNeueRegular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url("../fonts/BebasNeueBook.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
.container {
  max-width: 1440px;
  margin-left: 12rem;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 4.625rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: .0625rem solid rgba(235, 235, 240, 0.20);
  transition: background-color 0.2s, height 0.2s, width 0.2s;
}
.mobile-menu {
  display: none;
}
.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}
.navbar-light .header-logo-path {
  fill: #292D33;
}
.phone-svg {
  fill: #5C8EE6
}
.header {
  padding-top: 4.625rem;

}
.header-image {
  background-image: url('../img/header-bg.jpg');
  height: 48.4375rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left 0rem;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.60);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items:center;
  padding: 0rem 1.9375rem;
  border-right: .0625rem solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.logo {
  display: none;
}
.logo-svg {
  width: 8.125rem;
  height: 2.25rem;
}
.header-nav {
  display: flex; /* Гибкость */
  align-items:center;
  height: 100%;
  flex-basis: 100%; /* На всю ширину */
  list-style: none; /* Убирает точки у списка */
  padding: 0 2.5rem 0rem 2.5rem; /* Отступы */
  margin: 0; /* Убираем отступы свурху и снизу */
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-link{
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 200;
  text-decoration: none;
  font-size: .875rem;
  margin-right: 2.5rem;
  color: inherit; /* Цвет как у родителя */
  word-spacing: -0.0469rem;
  letter-spacing: -0.0094rem;
  position: relative;
}
.header-nav-link:after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background: #5C8EE5;
  transition: width 0.2s;
}
.header-nav-link:hover:after {
  width: 100%;
}
.header-phone {
  flex-shrink: 0; /* Чтобы телефон не сжимался */
  display: flex; /* Гибкость */
  align-items: center; /* Выравнивание по центру */
  gap: .625rem; /* Отступ от иконки */
  margin-right: 2.4375rem;
  text-decoration: none; /* Убираем подчеркивание */

}
.header-phone-link {
  text-decoration: none;
  font-weight: 400;
  font-size: .8125rem;
  color: inherit; /* Цвет как у родителя */
}
.button {
  height: 3.75rem;
  width: 15.625rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 160%;
  padding: 1.25rem 3.0625rem;
  color: #ffffff;
  background: #3A71D1;
  border: none; /* Нет обводки */
  display: inline-block;
  cursor: pointer;
  letter-spacing: .0313rem;
  word-spacing: .0625rem;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  width: 14.0625rem;
  font-size: .8125rem;
  padding: 1.0625rem 1.25rem;
  letter-spacing: 0rem;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
}
.seporator {
  background: #5C8EE5;
  width: 7.5rem;
  height: .125rem; 
  margin-top: .8125rem;
}
.header-content {
  padding-top: 6.75rem;
  position: relative;
  z-index: 1;
  color: #ffffff
}
.header-title {
  max-width: 51.25rem;
  line-height: 120%;
  font-family: Bebas Neue Regular;
  font-size: 4rem;
  font-weight: 400;
  margin: 1.125rem 0;
}
.header-text {
  max-width: 36.375rem;
  font-family: Noto Sans;
  height: 100%;
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 172%;
  margin-bottom: 2.5625rem;
  margin-top: 1.9375rem;
  word-spacing: .0813rem;
  letter-spacing: .0206rem;
}
.header-features {
  display: flex;
  min-height: 10.5rem;
  margin-bottom: 0;
  padding: 0;
  margin-top: 4.9rem;
  list-style: none;
  color: #ffffff;
  position: relative;
}
.header-features-item {
  padding: 1.1875rem 2.375rem;
  min-height: 100%;
  max-width: 14.4rem;
  height: auto;
  border: .0625rem solid rgba(235, 235, 240, 0.20)
}
.slider-buttons {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 0px;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.primary {
  display: flex;
  height: 100%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-text {
  width: 8.9688rem;
  margin-right: .5625rem;
  margin-top: .725rem;
  margin-bottom: 0;
  font-size: .75rem;
  line-height: 163%;
  font-weight: 400;
  letter-spacing: .0313rem;
  word-spacing: -0.0125rem;
  margin-left: .0625rem;
}
.section {
  margin-top: 7.5rem;
  margin-bottom: 9.375rem;
  word-spacing: -0.1375rem;
}
.section-title,
.section-title-different {
  font-family: 'Bebas Neue Book';
  color: #292D33;
  font-size: 3.0562rem;
  line-height: 120%;
  margin-bottom: 46px;
  margin-top: 1.125rem;
  margin-bottom: 2.5625rem;
  word-spacing: 0.6px;
}
.section-title-small {
  display: none;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
}
.steps-item {
  min-width: 280px;
  margin-right: 0px;
}
.steps-num {
  font-family: 'Bebas Neue Book';
  color: var(--main, #5C8EE5);
  width: 265px;
  font-size: 39px;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  align-items: center; 
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  color: #292D33;
  font-family: 'Noto Sans', sans-serif;
  width: 239px;
  font-size: 23px;
  font-weight: 400;
  line-height: 158%;
  margin-top: 27px;
  margin-bottom: 0rem;
  letter-spacing: -0.5008px;
}
.steps-text {
  color: #828A99;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 239px;
  margin-right: 0px;
  line-height: 174%;
  margin-top: 7px;
  margin-bottom: 17px;
  letter-spacing: .5008px;
  word-spacing: -0.8px;
}
.primary-buttons-wrapper {
  display: flex;
  height: 3.125rem;
  justify-content: flex-end;
}
.primary-button-prev,
.primary-button-next {
  background:#5C8EE5;
  height: 100%;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.steps-buttons {
  display: none;
}
.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#5C8EE5;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 160%;
  gap: 4px;
  word-spacing: -0.5008px;
}
.button-link::before {
  content: "";
  height: 1px;
  background: #5C8EE5;
  width: 31px;
  margin-right: .75rem;
  transition: width 0.2s;
}
.button-link:hover:before {
  width: 50px;
}
.production {
  margin-top: -6.7rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 30.3%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: #5C8EE5;
}
.card:hover {
  border-color: #5C8EE5;
}
.card-content {
  padding: 2rem 2.4rem;
  padding-right: 47px;
}
.card-text {
  color: #828A99;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0px;
  margin-bottom: 17.625rem;
}
.card-title {
  color:#292D33;
  font-size: 25px;
  line-height: 160%;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: -1.6px;
  word-spacing: 2.3px;
  margin-bottom: .5rem;
  transition: color 0.2s;
}
.card-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0; /* Картинка не перкрывает текст*/
}
.marks {
  display: flex;
  flex-wrap: wrap;
}
.mark {
  flex-basis: 45.4%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  padding-top: 2.65rem;
  padding-bottom: 2rem;
  transition: border 0.2s;
  cursor: pointer;
  display: grid;
  grid-column-gap: 3.125rem;
  grid-template-columns: 170px 1fr ;
  grid-template-rows: auto 2fr;
  grid-template-areas: 
    "logo title title"
    "logo text text";
}
.marks-image {
  grid-area: logo;
  margin-left: 2.4rem;
  width: 100%;
  /*fill: #5C8EE6;*/
  fill: #828A99;
}
.mark-title {
  grid-area: title;
  color: #292D33;
  font-size: 1.45rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  transition: color 0.2s;
} 
.mark-text {
  grid-area: text;
  color: #828A99;
  margin: 0;
  padding-top: 8px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160%;
  padding-right: 2.875rem;
}
.mark:hover {
  border-color: #5C8EE5;
}
.mark:hover .marks-image {
  fill: #5C8EE5;
}
.mark:hover .mark-title {
  color: #5C8EE5;
}
.founder {
  position: relative;
  min-height: 31.049999999999997rem;
}
.founder-photo {
  position:absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.founder-content {
  max-width: 43.2rem;
  padding-top: 1.75rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  color: #828A99;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 4.9375rem;
  word-spacing: .0481rem;
  margin-bottom: 1.125rem;
  padding-right: 6.75rem;
}
.clients-list {
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
  margin-top: -0.375rem;
}
.clients-list-item:not(:last-child) {
  padding-bottom: .9375rem;
}
.clients-wrapper {
  display: flex;
  gap: 1rem;
}
.clients-content {
  flex-basis: 47.2%;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  color: #292D33;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  word-spacing: 0.4px;
}
.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  margin-top: 1.5625rem;
  margin-right: 7.125rem;
}
.clients-logo-item {
  flex-basis: 33%;
  padding: 1rem;
  border: 1px solid #EBEBF0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.1875rem 3.3125rem;
  filter:grayscale(100);
  transition: filter 0.2s;
}
.clients-logo {
  max-width: 100%;
  height: 3.75rem;
  width: 3.75rem;
}
.clients-logo-item:hover {
  filter: none;
}
.blog-card {
  display: flex;
  position: relative;
  min-height: 20.1rem;
  min-width: 37.5rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding-left: 2.525rem;
  padding-bottom: 2.525rem;
  padding-right: 8px;
}
.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.60);
  z-index: -1;
}
.blog-content {
  margin-top: 0;
  margin-bottom: -0.9rem;
}
.blog-card-title {
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.69rem;
  letter-spacing: .035rem;
  margin-right: 83px;
}
.blog-card-text {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  margin-top: 0; 
  word-spacing: -0.0625rem;
  letter-spacing: .025rem;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.49rem;
  justify-content: space-between;
}
.bg-grey {
  background: #F0F2F5;
}
.section-cta {
  position: relative;
  padding-top: 6.25rem;
  margin-top: -0.9rem;
  padding-bottom: 4.25rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 38%;
  height: 33.125rem;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}
.cta-form {
  max-width: 52.5rem;
  margin-right: 6.4375rem;
}
.cta-form-text {
  color: #828A99;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 185%;
  margin-bottom: 2.5rem;
  max-width: 32rem;
  margin-top: -1.625rem;
}
.input-group-wrapper {
  display: flex;
  gap: 1.1rem;
}
.input-group {
  position: relative;
  height: 3.125rem;
  flex-grow: 1;
  background-color: #F0F2F5;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #E4E4EB;
  background-color: transparent;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 0.9rem;
  left: 1.7rem;
  color: #828A99;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus {
  border: 1px solid #5C8EE5;
  outline: 0;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: .625rem;
  background-color: inherit;
  padding: 0 .625rem;
}
.cta-form-footer {
  display: flex;
  margin-top: 1.67rem;
  gap: 1.875rem;
  align-items: center;
}
.cta-form-button {
  flex-shrink: 0;
  height: 3.125rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: .625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  margin: 0;
  color:#828A99;
  font-size: .65rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 1920px) {
  html {
    font-size: 1rem;
  }
  .container {
    margin-right: 60px;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: .875rem;
  }
  .container {
    max-width: 1100px;
    margin-right: 100px;
  }
}
@media (max-width: 1330px) {
  .clients-content {
    flex-basis: 47%;
  }
}
@media (max-width: 78.25rem) {
  html {
    font-size: .8125rem;
  }
  .container {
    margin-right: 30px;
  }
  .header-logo {
    padding: 1rem;
  }
  .logo-svg {
    min-width: 3rem;
    height: 4.3rem;
  }
  .header-nav {
    padding-left: .8rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: .5rem;
  }
  .header-phone {
    margin-right: 1rem;
    margin-left: -2rem;
  }
  .header-features {
    margin-top: 3rem;
  }
}
@media (max-width: 1199px) {
  .slider-buttons {
    border: 1px solid rgba(235, 235, 240, 0.20);
    height: 44px;
  }
  .header-content {
    padding-top: 2.8rem;
  }
  .header-title {
    font-size: 3 rem;
  }
  .card {
    flex-basis: 50%;
  }
  .header-image {
    height: 650px;
  }
  .mark-content {
    padding-top: 2.5rem;
  }
  .mark {
    grid-template-columns: auto auto;
  }
  .founder-photo {
    width: 40%;
  }
    .steps-buttons {
    display: flex;
  }
}
@media (max-width: 1120px) {
  .container {
    max-width: 59rem;
  }
  .header-features {
    margin-top: 1.875rem;
  }
  .header-phone{
    display: none;
  }
  .navbar {
    height: 5.57rem;
  }
  .navbar-button {
    padding-left: 2.5rem;
    padding-right: 2rem;
  }
  .founder-content {
    max-width: 27rem;
  }
  .navbar-button {
    width: 15.1rem;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
  .primary-buttons-wrapper {
    height: 3.25rem;
  }
  .cta-image {
    display: none;
  }
} 
@media (max-width: 1010px) {
  .founder-content {
    max-width: 40rem;
  }
}
@media (max-width: 1014px) {
  html {
    font-size: 11px;
  }
  .container {
    max-width: 85rem;
    /*max-width: 60rem;*/
    margin-left: 1.1875rem;
    margin-right: auto;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .header-features {
    margin-top: 3.975rem;
  }
  .mobile-menu-toggle {
    width: 5.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 20px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button {
    width: 70px;
  }
  .navbar-button .button-icon {
    display:block;
    fill:#ffffff;
  }
  .logo-svg {
    min-width: 10rem;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color:#fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    color: #292D33;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828A99;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    color: #292D33;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    border-top: 1px solid #EBEBF0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: .65rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    color: #292D33;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(13px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px);
  }
  .header-image {
    height: 600px;
  }
  .card-text {
    margin-bottom: 37.6rem;
  }
  .input-group-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .container {
    max-width: 44rem;
    margin-left: auto;
  }
  .card {
    flex-basis: 100%;
  }
  .mark {
    flex-direction: column;
    flex-basis: 100%;
    grid-column-gap: 1.9rem;
    padding-top: 21px;
  }
  .mark-title {
    letter-spacing: -0.2px;
    line-height: 120%;
    font-size: 1.47rem;
  }
  .mark-text {
    padding-left: 30px;
    font-size: 1.1rem;
    padding-top: 16px;
    padding-bottom: 0.5rem;
    padding-left: 25px;
    line-height: 140%;
    letter-spacing: -0.55px;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-content {
    padding-top: 3rem;
  }
  .marks-image {
    margin-left: 1.1rem;
    height: 80px;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
  .clients-logo {
    height: 45px;
    width: 45px;
  }
    .clients-wrapper {
    flex-direction: column;
  }
    .clients-list {
    columns: 1;
    margin-top: 3rem;
  }
  .clients-list-item {
    gap: 1.8rem;
    font-size: 1.2rem;
  }
  .clients-list-item:not(:last-child) {
    padding-bottom: 1.3rem;
  }
  .clients-logo-list {
    margin-right: 1.875rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 311px;
  }
  .header-title {
    font-size: 45px;
    letter-spacing: -0.7px;
    line-height: 116%;
  }
  .header-content {
    padding-top: 4.2rem;
  }
  .header-image {
    height: auto;
  }
  .header-text {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    line-height: 167%;
  }
  .header-features-text {
    font-size: 1.1rem;
    margin-top: 1.25rem;
    width: 12.8rem;
  }
  .header-features-item {
    padding-right: 18.14rem;
  }
  .steps-text {
    letter-spacing: .5008px;
    margin-top: 4px;
    word-spacing: -3px;
    line-height: 170%;
    margin-bottom: 23px;
  }
  .section-title {
    margin-top: 1.28rem;
    margin-bottom: 26px;
    line-height: 130%;
  }
  .steps-title {
    margin-top: 0.9875rem;
    font-size: 20px;
    letter-spacing: 1px;
    letter-spacing: -1.2px;
  }
  .button-link {
    gap: 10px;
    letter-spacing: 1px;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
  }
  .button-link::before {
    width: 36px;
  }
  .steps-num {
    font-size: 40px;
  }
  .production {
    margin-top: -1.25rem;
  }
  .card-title {
    font-size: 19px;
    letter-spacing: -0.6px;
    word-spacing: 0.1px;
  }
  .card-text {
    font-size: 12px;
    margin-top: -0.09rem;
    line-height: 165%;
    letter-spacing: 0.4px;
    word-spacing: -0.5px;
    margin-bottom: 260px;
  }
  .card-content {
    padding: 1.5rem 2.4rem;
  }
  .section-title-small {
    display: block;
    margin-top: 1.425rem;
    margin-bottom: 28px;
    font-family: 'Bebas Neue Book';
    color: #292D33;
    font-size: 2.6rem;
    line-height: 120%;
    letter-spacing: 0.5px;
  }
  .section-title-different {
    display: none;
  }
  .mark {
    grid-template-areas: 
    "logo title"
    "text text";
  }
  .blog-card {
    min-height: 18rem;
  }
  .blog-card-text {
    display: none;
  }
  .founder-text {
    margin-top: -1.4rem;
    font-size: 1.3rem;
    padding-right: 1.75rem;
    line-height: 154%;
  }
  .section-cta {
    padding-top: 3.6rem;
  }
  .cta-form-footer {
    flex-direction: column;
    gap: 3rem;
  }
  .cta-form-text {
    font-size: 1.2rem;
    line-height: 164%;
    margin-top: -1.2rem;
    letter-spacing: .025rem;
    word-spacing: 1.2px;
    margin-top: -0.9rem;
  }
  .cta-form-button {
    width: 31.8rem;
    height: 5.6rem;
    font-size: 1.2rem;
  }
  .cta-form {
    margin-right: 1.4rem;
    max-width: 25.5rem;
  }
  .input-group-wrapper {
    gap: 2rem;
  }
  .input-group {
    height: 5.6rem;
  }
  .input-group-label {
    left: 2.6rem;
    top: 2rem;
  }
  .cta-form-footer {
    margin-top: 0.9rem;
  }
  .notify-text {
    max-width: 30rem;
    font-size: 1.2rem;
  }
}