* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
.navbar {
  background: #473636;
  display: flex;
  align-items: center;
  color: #fff;
  height: 64px;
}
.header-logo {
  padding: 25px 50px;
}
.header-nav {
  display: flex; /* Гибкость */flex-basis: 100%; /* На всю ширину */
  list-style: none; /* Убирает точки у списка */
  padding: 0 50px; /* Отступы */
  margin: 0; /* Убираем отступы свурху и снизу */
}
.header-nav-link{
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit; /* Цвет как у родителя */
}
.header-phone {
  flex-shrink: 0; /* Чтобы телефон не сжимался */
  display: flex; /* Гибкость */
  align-items: center; /* Выравнивание по центру */
  gap: 10px; /* Отступ от иконки */
  text-decoration: none; /* Убираем подчеркивание */
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit; /* Цвет как у родителя */
}
.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: #3A71D1;
  display: flex;
  align-items:center; 
  justify-content: center;
  padding: 25px 60px;
  gap: 10px;
  border: none; /* Нет обводки */
  flex-shrink: 0;
}
.header-button {
  height: 100%;
}